<div  class="custom-content">
  <div class="main-content">
    <h1>Règles</h1>
    <h2>Déroulement de la partie :</h2>
    <div>
      
      <p>
        Dans ce jeu captivant, chaque joueur se verra attribuer une carte contenant deux informations : le lieu de travail et le poste occupé. Tous les joueurs partageront le même lieu, mais auront des postes différents, à l'exception d'un joueur qui sera désigné comme l'espion, ne disposant ni de lieu ni de poste sur sa carte.
      </p>
        <p>

          Une fois que tous les joueurs auront pris connaissance de leurs informations, la partie commencera. Les joueurs auront l'occasion de discuter de manière informelle de leurs activités professionnelles, en évitant de divulguer trop de détails pour empêcher l'espion de deviner où ils travaillent. Le jeu nécessitera finesse et subtilité, car l'espion pourra prétendre travailler avec les autres joueurs pour brouiller les pistes.
        </p>
        <p>

          Une fois que le temps imparti pour les discussions sera écoulé, il sera temps de voter pour désigner qui est l'espion parmi eux. Les joueurs devront se fier à leur instinct et à leurs observations pour démasquer l'espion sans se trahir mutuellement. La tension montera à mesure que les votes seront exprimés, et le suspense atteindra son apogée lors de la révélation finale pour savoir si l'espion sera déjoué ou s'il remportera la partie.
        </p>
    </div>
    <ion-icon name="arrow-back-outline" class="fleche" (click)="onArrowClick()"></ion-icon>
  </div>
</div>